/*------------------------------------*\
  #HERO
\*------------------------------------*/
.hero {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 1fr));

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 55rem));
  }

  &__text {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 3rem;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      color: $grey-light-3;
    }
  }

  &__description {
    line-height: 3rem;
    max-width: 40rem;
  }

  &__photoslide {

  }

  &__photo {
    object-fit: cover;
  }
} 