<!DOCTYPE html>
<html lang="cs-CZ">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> 123 :: {{title}}</title>
        <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" type="text/css" href="{{root}}assets/css/minireset.min.css">
        <link rel="stylesheet" type="text/css" href="{{root}}assets/css/core.css">
        <link rel="stylesheet" type="text/css" href="{{root}}assets/vendor/css/icons.css">

        <!-- CDN -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet"> 

    </head>
    <body>
        {{> preloader}}
        {{> body}}
        {{> footer}}
        {{> backtotop}}
        {{> scripts}}
    </body>  
</html>